.heading {
  font-family: lr;
  letter-spacing: var(--ls);
  &.--h1 {
    color: var(--white-cl);
    font-size: var(--fs-h1);
    line-height: var(--lh1-h1);
  }
  &.--h2 {
    color: var(--black-cl);
    font-size: var(--fs-h2);
    line-height: var(--lh1-h2);
  }
  &.--h3 {
    color: var(--black-cl);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
  }
  &.--h2-large {
    color: var(--white-cl);
    font-size: var(--fs-text-large);
    line-height: var(--lh-text-large);
  }
  &.--h2-s {
    color: var(--black-cl);
    font-size: var(--fs-text-s);
    line-height: var(--lh-text-s);
  }
}
.textlabel {
  font-size: var(--fs-textlabel);
  line-height: var(--lh-textlabel);
  text-transform: uppercase;
}
.textbox {
  &.center {
    text-align: center;
  }
  &.row {
    display: flex;
    justify-content: space-between;
  }
}
// btn
.btnexplore {
  color: var(--white-cl);
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  @include transition;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white-cl);
    transform-origin: left;
    transform: scaleX(1);
    @include transition(transform);
  }
  &:hover {
    &::after {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
}
.btnlink {
  color: var(--black-cl);
  padding: 9px 41px;
  border: 1px solid var(--gray-l-cl);
  @include transition;
  &:hover {
    background-color: var(--gray-l-cl);
    opacity: 0.8;
    border: 1px solid var(--black-cl);
  }
}
// col
.col {
  display: grid;
  gap: 10px;
  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
// component
.article__list-item {
  .imgwrap {
    position: relative;
    aspect-ratio: 345/460;
    display: block;
    width: 100%;
    overflow: hidden;
    .tag {
      position: absolute;
      left: 12px;
      top: 12px;
      display: flex;
      flex-direction: column;
      span {
        padding: 0px 7px;
        color: var(--white-cl);
        font-family: pb;
        width: fit-content;
        &.--red {
          background-color: var(--red-cl);
          padding: 8px 6px;
        }
        &.--blue {
          background-color: var(--blue-cl);
        }
        &.--black {
          background-color: var(--black-cl);
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .content {
    gap: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .label {
      opacity: 60%;
      padding-top: 16px;
    }
    .name {
      line-height: var(--lh-name-product);
      font-family: pm;
      cursor: pointer;
    }
    .price {
      font-size: var(--fs-price-sale);
      line-height: var(--lh-price-product);
      display: flex;
      gap: 8px;
      &.--sale {
        color: var(--red-light-cl);
        font-size: 15px;
        .original {
          text-decoration: line-through;
          color: var(--gray-cl);
        }
      }
    }
  }
}
.scinspiration__list-item {
  .content {
    padding-top: 16px;
    .heading {
      padding-bottom: 7px;
    }
  }
}

// From
.formcontact {
  background-color: var(--white-cl);
  padding: 12px 0px 12px 17px;
  width: 100%;
  display: flex;
  border: 2px solid var(--white-cl);
  position: relative;
  input {
    width: 100%;
    outline: none;
  }
  .form-error {
    font-size: 14px;
    right: 48px;
    color: var(--red-light-cl);
    position: absolute;
    @include transition;
  }
  button {
    padding: 0 18px;
    cursor: pointer;
    background-color: var(--white-cl);
    outline: none;
  }
  &.--invalid {
    border-color: var(--red-light-cl);
    @include transition;
  }
}
// keyframes
@keyframes move {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
}
