.footer {
  .container-fluid {
    @include mid(true);
    background-color: var(--black-cl);
    color: var(--white-cl);
    flex-direction: column;
    padding: 50px 15px 10px 15px;
  }
  .textbox {
    width: 100%;
    max-width: 465px;
    .heading {
      font-size: var(--fs-text-footer);
      line-height: var(--lh-text-footer);
      padding-bottom: 8px;
      font-family: lr;
    }
    .desc {
      padding-bottom: 16px;
    }

    .iconsocial {
      padding: 20px 0;
      @include mid(true);
      gap: 16px;
    }
    p {
      a {
        color: var(--white-cl);
        text-decoration: underline;
      }
    }
  }
  @include xs {
    .textbox {
      max-width: 360px;
      text-align: initial;
      .iconsocial {
        justify-content: flex-start;
      }
    }
  }
}
