.footer {
  .container-fluid {
    @include mid(true);
    background-color: var(--black-cl);
    color: var(--white-cl);
    flex-direction: column;
    padding: 50px 15px 10px 15px;
  }
  .textbox {
    width: 100%;
    max-width: 465px;
    .heading {
      font-size: var(--fs-text-footer);
      line-height: var(--lh-text-footer);
      padding-bottom: 8px;
      font-family: lr;
    }
    .desc {
      padding-bottom: 16px;
    }
    .iconsocial {
      padding: 35px 0;
      @include mid(true);
      gap: 23px;
    }
    p {
      a {
        color: var(--white-cl);
        text-decoration: underline;
      }
    }
  }
  .formcontact {
    display: flex;
    background-color: var(--white-cl);
    input {
      border: 1px solid var(--white-cl);
      padding: 12px 0px 12px 17px;
    }
    .form-error {
      right: 48px;
      top: 15px;
      position: absolute;
    }
  }
  @include xs {
    .container-fluid {
      padding: 35px 15px 10px 15px;
    }
    .textbox {
      max-width: 360px;
      text-align: initial;
      .desc {
        padding-bottom: 25px;
      }
      .iconsocial {
        justify-content: flex-start;
        padding-top: 27px;
        padding-bottom: 30px;
      }
    }
  }
  @include xxs {
    .formcontact {
      input {
        padding: 14px 0px 14px 17px;
      }
    }
  }
}
