.header {
  height: var(--height-header);
  &__top {
    background-color: var(--black-cl);
    height: var(--height-header-top);
    padding: 0 20px;
    @include dflexObj(flex, center, space-between);
    color: var(--white-cl);
    font-size: 1.4rem;
    line-height: 2.4rem;
    &-info {
      width: 100%;
      @include dflexObj(Flex, center, space-between);
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: initial;
        width: initial !important;
      }
    }
    .ctr {
      display: none;
    }
  }
  &__bottom {
    height: calc(var(--height-header) - var(--height-header-top));
    background-color: var(--white-cl);
    p {
      font-size: 3.2rem;
      line-height: 2.4rem;
      font-family: lm;
      text-transform: uppercase;
    }
    @include mid(true);
  }
  @include xs {
    &__top {
      &-info {
        @include dflexObj(Flex, center, initial);
        .swiper-slide {
          @include mid(true);
          flex-shrink: 0;
          width: 100% !important;
        }
        .number {
          order: 2;
        }
        .adress {
          order: 1;
        }
      }
      .ctr {
        display: flex;
        position: absolute;
        &.--prev {
          left: 5px;
          img {
            transform: rotate(180deg);
          }
        }
        &.--next {
          right: 5px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          color: var(--white-cl);
          font-size: 10px;
        }
      }
    }
  }
}
