.schero {
    .textbox {
      gap: 24px;
      position: absolute;
      @include mid(true);
      flex-direction: column;
      @include size(100%, 100%);
      p {
        color: var(--white-cl);
      }
    }
    picture {
      img {
        width: 100%;
      }
    }
  }